.SingleWallpapers
    .download-module
        background-color: $snow
        margin-top: 50px
        margin-bottom: 50px
        .download-header
            text-align: center
        .download-module-content
            margin-top: 50px
        .creative-protection
            margin: 10px 0
        .download-info
            max-width: 350px
            margin: 0 auto
        .cta-download
            text-align: center
            margin: 30px 0
        .module-img-container
            margin-bottom: 30px
        