*:root {
  --aura-font-stack: ryo-gothic-plusn, sans-serif;
}

@media only screen and (max-width: 767px) {
  .centertxt-small {
    text-align: center !important;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}


.b0 {
  border: 0 !important;
}

