%smash
    max-width: $smash
    padding-left: 20px
    padding-right: 20px
    margin: 0 auto

%smush
    max-width: $smush
    margin: 0 auto

%flex-center
    margin-left: auto
    margin-right: auto

.smash
    @extend %smash
    
.smush
    @extend  %smush

.break
  display: block
  width: 100%
  height: 0px

.content-right
    margin-left: auto

.content-left
    margin-right: auto

.content-center
    margin-right: auto
    margin-left: auto

.responsive-image
    max-width: 100%
    height: auto

.videoWrapper 
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0

.videoWrapper iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.disable
    opacity: 0.5

.dark
    color: $dark

.pad
    padding: 45px 20px 20px 20px
    @media only screen and (max-width: $small-breakpoint)
        padding: 50px 25px 50px

.snow
    background: $snow

@media only screen and (min-width: $large-breakpoint)
    .hide-large
        display: none
    
@media only screen and (max-width: $large-breakpoint)
    .hide-small
        display: none