
.modules
    width: 100%
    .modul
        position: relative
        .image-coat
            position: relative
            .aspect img
                display: block
                position: relative
                width: 100%
        .content-overley
            position: absolute
            bottom: 0
            left: 0
            right: 0
            top: 0
            @extend  %smush

.module-img-container
    text-align: center
    
.module-box-detail
    padding: 30px
    display: flex
    flex-direction: column
    flex-grow: 1
    background-color: $dark
    margin-bottom: 30px
    .module-title
        font-size: $visual-scale-base * 1.3
        p 
            color: $root
    
.inside-pad
    margin: 0 10px
    height: 100%
    @media only screen and (max-width: $small-breakpoint)
        padding: 0
    .block
        background: $dark