.wio-link 
    position: fixed
    bottom: 30px
    right: 30px
    display: inline-flex
    justify-content: center
    align-items: center
    width: 42px
    height: 42px
    border-radius: 21px
    background-color: $Purple
    color: white

.archives
    .wio-link
        position: absolute
        bottom: 50px
        right: 30px