// ==========================================================================
//  variables
// ==========================================================================

// Font stack
$font-stack: ryo-gothic-plusn, sans-serif

// Color base
$base-color: $Blue
$root: $Black
$dark: $White

$line-color: darken($ColdGrey, 25%)
$border-color: $ColdGrey
$realse: $Grey


// Font-size
$visual-scale-h1: 3.052em !default
$visual-scale-h2: 2.441em !default
$visual-scale-h3: 2.28rem !default
$visual-scale-h4: 1.953em!default
$visual-scale-h5: 1.563em !default
$visual-scale-h6: 1.25em !default
$visual-scale-base: 1em!default
$visual-scale-s1: 0.8em!default
$visual-scale-s2: 0.64em!default
$visual-scale-s3: 0.512em!default

// Media Query Ranges
$small-breakpoint: 767px !default
$large-breakpoint: 1155px !default


// flex box
$blocks: 12

// Containers
$smash: 740px
$smush: 1032px

// Nav
$header: 44px


