.SinglePodcast
    .header-info
        padding: 20px 20px 45px 20px
        .SubHeader-title
            text-align: center
            font-weight: 300
        .single-post-category
            text-align: center
    .header-podcast
        padding: 0 30px
        .title-podcast
            margin: 0
    .podcast-player
        position: relative
        .player-wrap
            position: absolute
            width: 100%
            left: 0
            top: 0
            text-align: center
            vertical-align: middle
            padding-top: 30%

    