.SubHeader
    background: url("/static/images/rose-wallpaper.jpg")
    background-position: center
    background-size: cover
    .SubHeader-title
        text-align: center
        padding: 20px
        font-weight: 300
        &::first-letter
            text-transform: capitalize