.SubHeader
    background: url("https://images.prismic.io/garitma%2Fbbbe14fd-f631-4f02-bf4a-55f41a4daf5c_rose-wallpaper.jpg?auto=compress,format")
    background-position: center
    background-size: cover
    .SubHeader-title
        text-align: center
        padding: 20px
        font-weight: 300
        &::first-letter
            text-transform: capitalize