.page-footer-firs-section
    @media only screen and (max-width: $small-breakpoint)
        margin-right: auto
        margin-left: auto
    .block-copyright
        @media only screen and (max-width: $small-breakpoint)
            text-align: center
        p
            margin: 0

footer
    padding: 20px 15px
    bottom: 0
    left: 0
    right: 0
    .contact-section
        max-width: 220px
        margin-left: auto
        @media only screen and (max-width: $small-breakpoint)
            margin-right: auto
    .contact-info
        padding: 0px 23px
    .logo
        margin-bottom: 10px