.smash {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.modules .modul .content-overley, .smush {
  max-width: 1032px;
  margin: 0 auto;
}

.break {
  display: block;
  width: 100%;
  height: 0px;
}

.content-right {
  margin-left: auto;
}

.content-left {
  margin-right: auto;
}

.content-center {
  margin-right: auto;
  margin-left: auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.disable {
  opacity: 0.5;
}

.dark {
  color: #fff;
}

.valign {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pad {
  padding: 45px 20px 20px 20px;
}
@media only screen and (max-width: 767px) {
  .pad {
    padding: 50px 25px 50px;
  }
}

.snow {
  background: #fafafa;
}

@media only screen and (min-width: 1155px) {
  .hide-large {
    display: none;
  }
}
@media only screen and (max-width: 1155px) {
  .hide-small {
    display: none !important;
  }
}
html {
  font-family: ryo-gothic-plusn, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  letter-spacing: -0.022em;
  color: #262626;
  font-size: 0.9em;
}
@media only screen and (min-width: 767px) {
  body {
    font-size: 0.95em;
  }
}
@media only screen and (min-width: 1155px) {
  body {
    font-size: 1em;
  }
}

a {
  text-decoration: none;
  color: #262626;
}
a:visited:not(.button):not(.pill-button):not(.button-link):not(.disable-button) {
  color: #262626;
}

blockquote {
  font-family: adobe-garamond-pro, serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 150%;
}

p {
  margin-top: 0;
  color: rgba(38, 38, 38, 0.87);
}

.entry-content p {
  font-size: 150%;
  font-weight: 300;
  line-height: 1.7;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1, .h1 {
  font-size: 2.289em;
}

h2, .h2 {
  font-size: 1.83075em;
}

h3, h3 {
  font-size: 1.71rem;
}

h4, .h4 {
  font-size: 1.46475em;
}

h5, .h5 {
  font-size: 1.17225em;
}

h6, .h6 {
  font-size: 0.9375em;
}

@media only screen and (min-width: 767px) {
  h1, .h1 {
    font-size: 2.5942em;
  }

  h2, .h2 {
    font-size: 2.07485em;
  }

  h3, .h3 {
    font-size: 1.938rem;
  }

  h4, .h4 {
    font-size: 1.66005em;
  }

  h5, .h5 {
    font-size: 1.32855em;
  }

  h6, .h6 {
    font-size: 1.0625em;
  }
}
@media only screen and (min-width: 1155px) {
  h1, .h1 {
    font-size: 3.052em;
  }

  h2, .h2 {
    font-size: 2.441em;
  }

  h3, .h3 {
    font-size: 2.28rem;
  }

  h4, .h4 {
    font-size: 1.953em;
  }

  h5, .h5 {
    font-size: 1.563em;
  }

  h6, .h6 {
    font-size: 1.25em;
  }
}
body {
  margin: 0;
  min-width: 320px;
}

main {
  position: relative;
  max-width: 2550px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .page {
    padding-top: 48px;
  }
}

article, aside, footer, header, nav, main, section, summary, figure, figcaption {
  display: block;
}

.keep {
  position: relative;
  height: 100vh;
}

*::selection {
  color: #262626;
  background: #d0fdef;
}

.message.error {
  padding: 100px 0;
}
.message.error .block {
  text-align: center;
}
.message.error .block.title-error {
  font-weight: 900;
  padding: 10px;
}

.archives {
  background: #fafafa;
}

.entry-content img {
  max-width: 100%;
  height: auto;
}

.single-post-category a:hover {
  text-decoration: underline;
}

.pagination-container {
  max-width: 330px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.coat {
  display: flex;
  flex-wrap: wrap;
}
.coat .block {
  width: 100%;
  position: relative;
}

.block.small-1 {
  flex: 0 0 8.3333333333%;
}

.block.small-2 {
  flex: 0 0 16.6666666667%;
}

.block.small-3 {
  flex: 0 0 25%;
}

.block.small-4 {
  flex: 0 0 33.3333333333%;
}

.block.small-5 {
  flex: 0 0 41.6666666667%;
}

.block.small-6 {
  flex: 0 0 50%;
}

.block.small-7 {
  flex: 0 0 58.3333333333%;
}

.block.small-8 {
  flex: 0 0 66.6666666667%;
}

.block.small-9 {
  flex: 0 0 75%;
}

.block.small-10 {
  flex: 0 0 83.3333333333%;
}

.block.small-11 {
  flex: 0 0 91.6666666667%;
}

.block.small-12 {
  flex: 0 0 100%;
}

@media only screen and (min-width: 767px) {
  .block.medium-1 {
    flex: 0 0 8.3333333333%;
  }

  .block.medium-2 {
    flex: 0 0 16.6666666667%;
  }

  .block.medium-3 {
    flex: 0 0 25%;
  }

  .block.medium-4 {
    flex: 0 0 33.3333333333%;
  }

  .block.medium-5 {
    flex: 0 0 41.6666666667%;
  }

  .block.medium-6 {
    flex: 0 0 50%;
  }

  .block.medium-7 {
    flex: 0 0 58.3333333333%;
  }

  .block.medium-8 {
    flex: 0 0 66.6666666667%;
  }

  .block.medium-9 {
    flex: 0 0 75%;
  }

  .block.medium-10 {
    flex: 0 0 83.3333333333%;
  }

  .block.medium-11 {
    flex: 0 0 91.6666666667%;
  }

  .block.medium-12 {
    flex: 0 0 100%;
  }
}
@media only screen and (min-width: 1155px) {
  .block.large-1 {
    flex: 0 0 8.3333333333%;
  }

  .block.large-2 {
    flex: 0 0 16.6666666667%;
  }

  .block.large-3 {
    flex: 0 0 25%;
  }

  .block.large-4 {
    flex: 0 0 33.3333333333%;
  }

  .block.large-5 {
    flex: 0 0 41.6666666667%;
  }

  .block.large-6 {
    flex: 0 0 50%;
  }

  .block.large-7 {
    flex: 0 0 58.3333333333%;
  }

  .block.large-8 {
    flex: 0 0 66.6666666667%;
  }

  .block.large-9 {
    flex: 0 0 75%;
  }

  .block.large-10 {
    flex: 0 0 83.3333333333%;
  }

  .block.large-11 {
    flex: 0 0 91.6666666667%;
  }

  .block.large-12 {
    flex: 0 0 100%;
  }
}
.disable-button, .button-link, .pill-button, .button {
  font-weight: 600;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px;
  padding: 0 23px;
  border-radius: 46px;
  -webkit-border-radius: 46px;
  -moz-border-radius: 46px;
  border: 2px solid;
  border-color: #86d5fa;
  transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
  -moz-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
}

.button {
  color: #fff;
  background-color: #86d5fa;
}
.button:hover {
  color: #86d5fa;
  background-color: #fff;
}

.pill-button {
  color: #86d5fa;
  border-color: #86d5fa;
}
.pill-button:hover {
  background-color: #86d5fa;
  color: #fff;
}

.button-link {
  border: 0;
  color: #262626;
  text-decoration: underline;
}

.disable-button {
  background-color: #e8f7fe;
  color: #b7e6fc;
  border-color: #b7e6fc;
}

input.button {
  cursor: pointer;
  color: #fff !important;
  background: #86d5fa !important;
  border: 0 !important;
  box-sizing: border-box !important;
  padding: 0 18px !important;
  display: inline-block !important;
  margin: 0 !important;
}

.inputer {
  position: relative;
}
.inputer label {
  color: #a29eb6;
  position: absolute;
  left: 0.7em;
  top: 1em;
  transition-duration: 0.2s;
}
.inputer input {
  width: 100%;
  border: 0;
  border-radius: 4px;
  border: solid 1px #f0f2f5;
  background-color: #f0f2f5;
  box-sizing: border-box;
  box-shadow: none;
  color: #262626;
  font-family: inherit;
  height: 56px;
  padding: 8px 10px;
  padding: 0.5rem 0.625rem;
  font-size: 1rem;
}
.inputer input:focus {
  border-color: #f6f7f9;
  background: #f6f7f9;
  outline: none;
}
.inputer input:focus ~ label {
  color: #86d5fa;
  font-size: 0.512em !important;
}
.inputer textarea {
  width: 100%;
  border: solid 1px #f0f2f5;
  background-color: #f0f2f5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  color: #262626;
  font-family: inherit;
  height: 106px;
  padding: 8px 10px;
  padding: 0.5rem 0.625rem;
  font-size: 1rem;
}
.inputer textarea:focus {
  border-color: #f6f7f9;
  background: #f6f7f9;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.glyphsSprite {
  background-image: url("https://images.prismic.io/garitma%2F397474c1-0850-4b79-948b-00796cd3c8ba_sprite_glyphs%402.png?auto=compress,format&w=265&h=260");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 1155px) {
  .glyphsSprite {
    background-image: url("https://images.prismic.io/garitma%2F397474c1-0850-4b79-948b-00796cd3c8ba_sprite_glyphs%402.png?auto=compress,format");
    background-size: 265px 260px;
  }
}
.glyphsSprite.after {
  margin-left: 0.3em;
}
.glyphsSprite.before {
  margin-right: 0.3em;
}
.glyphsSprite.logo {
  background-position: 0 -48px;
  width: 48px;
  height: 48px;
}
.glyphsSprite.twitter {
  background-position: 0 -24px;
}
.glyphsSprite.facebook {
  background-position: -24px -24px;
}
.glyphsSprite.instagram {
  background-position: -48px -24px;
}
.glyphsSprite.youtube {
  background-position: -72px -24px;
}
.glyphsSprite.menu {
  background-position: -96px -24px;
}
.glyphsSprite.search {
  background-position: -130px 0;
}
.glyphsSprite.arrowDown {
  background-position: -154px 0;
}
.glyphsSprite.arrowRight {
  background-position: -154px 0;
  transform: rotate(-90deg);
}
.glyphsSprite.arrowLeft {
  background-position: -154px 0;
  transform: rotate(90deg);
}
.glyphsSprite.play {
  background-position: -48px -48px;
  width: 96px;
  height: 96px;
  cursor: pointer;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.glyphsSprite.download {
  background-position: -146px -48px;
  width: 96px;
  height: 96px;
  cursor: pointer;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.glyphsSprite.link {
  background-position: -144px -24px;
}

.modules {
  width: 100%;
}
.modules .modul {
  position: relative;
}
.modules .modul .image-coat {
  position: relative;
}
.modules .modul .image-coat .aspect img {
  display: block;
  position: relative;
  width: 100%;
}
.modules .modul .content-overley {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.module-img-container {
  text-align: center;
}

.module-box-detail {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  margin-bottom: 30px;
}
.module-box-detail .module-title {
  font-size: 1.3em;
}
.module-box-detail .module-title p {
  color: #262626;
}

.inside-pad {
  margin: 0 10px;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .inside-pad {
    padding: 0;
  }
}
.inside-pad .block {
  background: #fff;
}

@keyframes modal-video {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-video-inner {
  0% {
    transform: translate(0, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.modal-video-effect-exit {
  opacity: 0;
}
.modal-video-effect-exit .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.modal-video-body {
  max-width: 940px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table;
}

.modal-video-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  bottom: -35px;
  left: 0;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}
.modal-video-close-btn:after {
  content: "Cerrar";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  color: #fff;
  border-radius: 5px;
  margin-top: -6px;
  cursor: pointer;
}

.modal-video {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.wio-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: #e8ebfe;
  color: white;
}

.archives .wio-link {
  position: absolute;
  bottom: 50px;
  right: 30px;
}

#Top-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 44px;
  max-height: 44px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#Top-bar .page-nav-content {
  margin: 0 auto;
  max-width: 1032px;
  padding: 24px;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 767px) {
  #Top-bar .page-nav-content {
    padding: 2px 24px;
  }
}

.nav-list {
  cursor: default;
  margin: 0 -10px;
  width: auto;
  height: 44px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-list .item {
  line-height: 2.7;
  letter-spacing: -0.01em;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  height: 44px;
  opacity: 1;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  outline-offset: -7px;
}
.nav-list .item.logo {
  padding: 9px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 4;
}
.nav-list .item.menu-toggle-button {
  z-index: 4;
  background: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav-container {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 90%;
  max-width: 460px;
  padding: 1em 3.5em;
  background: #fff;
  overflow-y: auto;
  transform: translateZ(0);
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
}
.nav-container .page-menu {
  padding-bottom: 2em;
  padding-top: 2.9em;
}
.nav-container .title {
  margin-bottom: 30px;
}
.nav-container .menu-item {
  display: block;
  padding: 0.4em 0;
  font-size: 2.441em;
  font-weight: bold;
  text-decoration: none;
  transform: translateZ(0);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.nav-container .menu-item:hover {
  opacity: 0.7;
}
.nav-container #search {
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: none;
  border: 0;
  max-width: 250px;
}
.nav-container #search::placeholder {
  color: #a29eb6;
}

.open .nav-container {
  transform: translateX(20%);
}
.open .menu-overley {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  z-index: 3;
  cursor: pointer;
}
.open .glyphsSprite.menu {
  background-position: -121px -24px;
}

@media only screen and (max-width: 767px) {
  .page-footer-firs-section {
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 767px) {
  .page-footer-firs-section .block-copyright {
    text-align: center;
  }
}
.page-footer-firs-section .block-copyright p {
  margin: 0;
}

footer {
  padding: 20px 15px;
  bottom: 0;
  left: 0;
  right: 0;
}
footer .contact-section {
  max-width: 220px;
  margin-left: auto;
}
@media only screen and (max-width: 767px) {
  footer .contact-section {
    margin-right: auto;
  }
}
footer .contact-info {
  padding: 0px 23px;
}
footer .logo {
  margin-bottom: 10px;
}

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #9ffbde;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
  display: none;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

.SubHeader {
  background: url("https://images.prismic.io/garitma%2Fbbbe14fd-f631-4f02-bf4a-55f41a4daf5c_rose-wallpaper.jpg?auto=compress,format");
  background-position: center;
  background-size: cover;
}
.SubHeader .SubHeader-title {
  text-align: center;
  padding: 20px;
  font-weight: 300;
}
.SubHeader .SubHeader-title::first-letter {
  text-transform: capitalize;
}

#searchform {
  position: relative;
}
#searchform .search {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.search-container {
  max-width: 440px;
  margin-right: auto;
  margin-left: auto;
}

.page-search-results {
  background: #fff;
  margin-bottom: 30px;
}
.page-search-results .search-box-detail {
  padding: 10px 25px;
}

.page-numbers {
  height: 46px;
  line-height: 46px;
}

.current-page {
  border-radius: 4px;
  border: solid 1px #f0f2f5;
  box-sizing: border-box;
  box-shadow: none;
  color: #262626;
  height: 34px;
  width: 38px;
  text-align: right;
  font-size: 0.9em;
  margin-right: 5px;
}
@media only screen and (min-width: 767px) {
  .current-page {
    font-size: 0.95em;
  }
}
@media only screen and (min-width: 1155px) {
  .current-page {
    font-size: 1em;
  }
}

#paginationform {
  display: inline-block;
}

.Featured {
  background: #fafafa;
}

.hero-module {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-module .hero-look {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .hero-module .hero-look {
    text-align: center;
  }
  .hero-module .hero-look img {
    max-height: 30vh;
  }
}
.hero-module .hero-content {
  padding: 25px 25px 50px;
  text-align: center;
}
@media only screen and (min-width: 767px) {
  .hero-module .hero-content {
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 0;
    top: 0;
    padding: 50px 80px;
  }
  .hero-module .hero-content .hero-body {
    width: 100%;
  }
  .hero-module .hero-content .hero-body .hero-detail {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
  }
  .hero-module .hero-content .hero-body .hero-detail .hero-description {
    text-align: center;
  }
  .hero-module .hero-content .hero-body .hero-detail .hero-cta {
    text-align: center;
  }
}

.subhero {
  background-color: #fafafa;
}

.VideoTrailer {
  background: #fafafa;
}

.page-header-single {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .page-header-single img {
    max-height: 30vh;
  }
}
.page-header-single .module {
  position: relative;
}
.page-header-single .module .action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-header-single .single-post-category {
  text-transform: capitalize;
}
.page-header-single .page-post-info {
  margin: 80px 0 50px 0;
}
.page-header-single .page-post-info .avatar-container .avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  max-width: 60px;
}
.page-header-single .page-post-info .single-post-autor-date {
  margin-top: 30px;
}

/*# sourceMappingURL=style.css.map */
