*:root {
  --aura-font-stack: ryo-gothic-plusn, sans-serif;
}

#nprogress .bar {
  background: var(--aura-loader) !important;
  height: 6.5px !important;
}

#nprogress .peg {
  display: none !important;
}

.flip {
  transform: scaleX(-1);
}

html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  
  display: flex;
  align-items: center;
  justify-content: center;
}